@function strip-unit($number) {
	@return $number / ($number * 0 + 1);
}

/* ---------- Borders ---------- */

$borderRadius: 4px;

/* ---------- Colors ---------- */

$accentColor: #00b8b9;
$altFontColor: #909295;
$altPrimaryColor: #005b96;
$altSecondaryColor: #1b3a6a;
$complementaryColor: #f5a11d;
$dxpPrimaryColor: #46718a;
$elementColor: #e3e4e5;
$fontColor: #4c4c4e;
$formFieldColor: #f1f2f3;
$primaryColor: #1c75b9;
$secondaryColor: #124680;
$shadowBlurColor: rgba(76, 76, 76, 0.16);
$shadowMainColor: rgba(76, 76, 76, 0.8);

/* ---------- Elevation ---------- */

$elevation1: 0 0 0.625em 0 $shadowBlurColor, 0 0.25em 0.5em -0.375em $shadowMainColor;
$elevation2: 0 0 0.75em 0 $shadowBlurColor, 0 0.375em 1em -0.5em $shadowMainColor;
$elevation3: 0 0 0.875em 0 $shadowBlurColor, 0 0.5em 1.125em -0.5em $shadowMainColor;
$elevation4: 0 0 1em 0 $shadowBlurColor, 0 0.625em 0.875em -0.375em $shadowMainColor;
$elevation5: 0 0 1.125em 0 $shadowBlurColor, 0 0.75em 1em -0.375em $shadowMainColor;
$elevationReset: 0 0 0 0 $shadowBlurColor, 0 0 0 0 $shadowMainColor;

/* ---------- Font ---------- */

$fontStackChinese: 'Source Sans Pro', 'Noto Sans SC Sliced', arial, helvetica, sans-serif;
$fontStackChineseLongform: 'Source Serif Pro', 'Noto Sans SC Sliced', georgia, cambria,
	'Times New Roman', times, serif;
$fontStackDefault: 'Source Sans Pro', arial, helvetica, sans-serif;
$fontStackDefaultLongform: 'Source Serif Pro', georgia, cambria, 'Times New Roman', times, serif;
$fontStackJapanese: 'Source Sans Pro', 'Noto Sans Japanese', arial, helvetica, sans-serif;
$fontStackJapaneseLongform: 'Source Serif Pro', 'Noto Sans Japanese', georgia, cambria,
	'Times New Roman', times, serif;

$fontWeightBold: 700;
$fontWeightDefault: 400;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightSemiBold: 600;

/* ---------- Scaling ---------- */

$baseUnit: 1.2vw;
$baseUnitless: strip-unit($baseUnit);

/* ---------- Spacing ---------- */

$largeSpacing: 3em;
$smallSpacing: 0.5em;
$standardSpacing: 1em;

/* ---------- Transform ---------- */

$hoverTranslate: translateY(calc(-3px + -1%));
$hoverTranslateReset: translateY(0);
