@import 'variables';
@import 'mixins';
@import 'typography';

#eventHotelsActivities {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;

    .card {
      box-shadow: $elevation2;
      box-sizing: border-box;
      margin: $standardSpacing;
      padding: $standardSpacing;
      width: 33%;
    }

    .hotel {
      img {
        padding-bottom: 2em;
      }

      .hotel-meta-info-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .hotel-meta-info {
          align-items: center;
          display: flex;
          padding-top: $standardSpacing;

          @extend %small-caps;

          span {
            padding-left: 0.25em;
          }
        }
      }
    }
  }
}
