html.responsive {
  font: $fontWeightDefault $baseUnit $fontStackDefault;
  line-height: 1.5;
}

body {
  line-height: 1.5;

  @include font-size(1rem, 16px, false);
}

body * {
  line-height: unset;
}

.event-component {
  blockquote {
    line-height: 1.25;

    @include font-size(1.25rem, 19px, false);
  }

  h1 {
    font-weight: $fontWeightExtraLight;
    line-height: 0.9;
    margin: 0 0 0.37rem;

    @include font-size(6.56rem, 32px, false);
  }

  h2 {
    font-weight: $fontWeightExtraLight;
    line-height: 0.96;
    margin: 0 0 0.48rem;

    @include font-size(4.1rem, 28px, false);
  }

  h3 {
    font-weight: $fontWeightLight;
    line-height: 1.16;
    margin: 0 0 0.58rem;

    @include font-size(2.56rem, 24px, false);
  }

  h4 {
    font-weight: $fontWeightLight;
    line-height: 1.25;
    margin: 0 0 0.59rem;

    @include font-size(1.6rem, 22px, false);
  }

  h5 {
    font-weight: $fontWeightDefault;
    line-height: 1.07;
    margin: 0 0 0.36rem;

    @include font-size(1.4rem, 20px, false);
  }

  h6 {
    font-weight: $fontWeightSemiBold;
    line-height: 1.333;
    margin: 0 0 0.44rem;

    @include font-size(1.125rem, 18px, false);
  }

  h7 {
    font-weight: $fontWeightSemiBold;
    line-height: 1.11;
    margin: 0 0 0.54rem;

    @include font-size(0.9rem, 14px, false);
  }

  h8 {
    font-weight: $fontWeightSemiBold;
    line-height: 1.25;
    margin: 0 0 0.62rem;

    @include font-size(0.8rem, 13px, false);
  }

  h9 {
    font-weight: $fontWeightSemiBold;
    line-height: 1.333;
    margin: 0 0 0.65rem;

    @include font-size(0.75rem, 12px, false);
  }

  p {
    font-weight: $fontWeightDefault;
    line-height: 1.5;
    margin: 0 0 0.5rem;

    @include font-size(1rem, 16px, false);

    &.smallcaps {
      color: $fontColor;
      font-weight: $fontWeightSemiBold;
      letter-spacing: 0.09rem;
      line-height: 1.1;
      margin: 0 0 0.5rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  .long-form {
    line-height: 1.5;

    @include font-size(1.25rem, 19px, false);

    a:not(.btn) {
      text-decoration: underline;
    }

    h2 {
      font-weight: $fontWeightDefault;
      margin-top: 1rem;

      @include font-size(1.5rem, 21px, false);

      &:first-child {
        margin-top: 0.25rem;
      }
    }

    h3 {
      font-weight: $fontWeightSemiBold;
      margin-top: 1rem;

      @include font-size(1.25rem, 19px, false);
    }

    h4 {
      margin-top: 1rem;

      @include font-size(1.2rem, 18px, false);
    }

    li {
      line-height: inherit;
      margin-bottom: 1rem;
    }

    ol,
    p:not(.small-caps),
    ul {
      font-family: $fontStackDefaultLongform;
      font-weight: $fontWeightDefault;
      margin-bottom: 1rem;
    }

    p.introduction {
      font-size: 1.2rem;
    }

    ul:not(.unstyled) {
      list-style: none;

      li:before {
        background-color: $altFontColor;
        border-radius: 0.25rem;
        content: '';
        display: inline-block;
        height: 0.25rem;
        margin: 0 0.5rem 0.25rem -1rem;
        width: 0.25rem;
      }
    }

    @include respond-to(phone) {
      line-height: 1.6rem;

      h2 {
        font-weight: $fontWeightSemiBold;
      }
    }
  }
}

.portlet-title {
  color: #fff;
  margin: 0;

  @include font-size(1.1rem, 18px, false);
}
