// Dracula Palette
$Background: #282a36;
$Current: #44475a;
$Selection: #44475a;
$Foreground: #f8f8f2;
$Comment: #6272a4;
$Cyan: #8be9fd;
$Green: #50fa7b;
$Orange: #ffb86c;
$Pink: #ff79c6;
$Purple: #bd93f9;
$Red: #ff5555;
$Yellow: #f1fa8c;

.admin-mode {
	font-family: 'Source Sans Pro';
	font-size: 14px;

	header,
	footer {
		display: none;
	}

	.button-holder.journal-article-button-row,
	.form-navigator,
	.journal-article-wrapper-content > .toolbar {
		background: $Background;
		border: none;
		position: sticky;
		top: 0;
		z-index: 999;
	}

	.btn {
		background: $Comment;
		border: none;
		color: $Foreground;
		margin: 0 10px;
		padding: 0.5rem 1rem;
		text-shadow: none;
		transform: none;
	}

	.btn-primary {
		background: $Green;
		color: $Current;
	}

	.btn-cancel {
		background: $Red;
	}

	.btn-warning {
		background: $Yellow;
	}

	// Edit Template Button Group
	.button-holder.journal-article-button-row {
		align-items: center;
		display: flex;
		padding: 0.5rem;
		position: fixed;
		top: -15px;

		.btn {
			margin: 0.5rem;
		}
	}

	.form-navigator {
		// top: 72px;

		.article-name {
			color: $Foreground;
		}

		.button-holder {
			position: static;
		}

		.tab-label {
			color: $Cyan;
			text-shadow: none;
		}
	}

	.journal-article-wrapper-content > .toolbar {
		margin-left: -20px;
		padding: 20px;
		// top: 55px;

		.go-to-bottom,
		.go-to-top {
			background: $Purple;
			color: $Foreground;
			font-weight: 700;
		}
	}

	.super-toolbar {
		background: $Background;
		position: fixed;
		right: 0;
		top: 0;
	}
}
