@import 'variables';
@import 'mixins';
@import 'typography';
@import 'extendables';

.event-card-collection-component {
	width: 100%;
	padding: $standardSpacing 0;

	.cards-wrapper {
		@extend %flex-container;

		.card {
			box-sizing: border-box;
			color: inherit;
			margin: 6.5em $smallSpacing $standardSpacing;
			min-width: 270px;
			padding: 0 2em 2em;
			text-decoration: none;
			width: calc(25% - 1em);
			transition: transform 0.25s, box-shadow 0.25s;

			&:hover {
				box-shadow: $elevation3;
				transform: translateY(-1px);
				transition: transform 0.25s, box-shadow 0.25s;
			}

			.card-image {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: -2em 0 2em;
				width: 100%;

				&:after {
					content: '';
					display: block;
					padding-bottom: 100%;
				}
			}

			.card-description {
				padding-top: $smallSpacing;
			}
		}
	}

	.card-travel-info-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.card-travel-info {
			align-items: center;
			display: flex;
			padding: $standardSpacing $smallSpacing 0 0;

			@extend %small-caps;

			span {
				padding-left: 0.25em;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.event-card-collection-component .cards-wrapper .card {
		width: calc(33% - 1em);
	}
}

@media screen and (max-width: 992px) {
	.event-card-collection-component .cards-wrapper .card {
		width: calc(50% - 1em);
	}
}

@media screen and (max-width: 576px) {
	.event-card-collection-component .cards-wrapper .card {
		box-shadow: $elevation3;
		width: 100%;
	}
}
